.carousel {
    display: flex;
    justify-content: center;
  }
  
  .carousel .react-multi-carousel-item {
    display: flex;
    justify-content: center;
  }
  
  .carousel .react-multi-carousel-item--active {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }